@using ParksClient.Models;
@model ParksClient.Models.Park;


<h1>@Model.Name</h1>

<ul>
    <li> @Model.Land</li>
    <li>@Model.State</li>
</ul>

<button class="btn btn-info">@Html.ActionLink("Back to List", "Index", "Home")</button>