@using ParksClient.Models;
@model ParksClient.Models.Park;


<h1>Park Details:</h1>
<ul>
    <li>This is a @Model.Land Park.</li>
    <li>It is in @Model.State</li>
</ul>


<button class="btn btn-info">@Html.ActionLink("Back to List", "Index", "Home")</button>