@using ParksClient.Models;
@model List<Park>;
<h1>State and National Parks in the SW:</h1>
<p>So far these are in New Mexico and Colorado</p>
<p>Click on each name to see their details. There will be more to come!</p>

<ol>
@foreach (Park park in Model)
{
    <ul>
        <li>@Html.ActionLink(@park.Name, "Details", "Park", new Park {ParkId = park.ParkId, State = park.State, Land = park.Land})</li>
    </ul>
    <br>
}
</ol>

